/*DEFINIÇÃO DE VARIÁVEIS Ajuda na hora de acessar itens que se repetem por padrão por todo o documento (temas)*/
:root{
    --vermelho:#E50914;
    --preto:#141414; 
    --cinza:#AAA;
}

/*RESET CSS Para a folha ficar completamente zerada de alinhamento que vem por padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body {
    background-color: #141414;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.logo {
    margin-left: 5px;
    color: #E50914;
    font-family: 'Arial Black';
    font-size: 40px;
    text-align: left;
}

header .conteiner {
    display: flex;
    flex-direction: row; /*Padrão -- (em linha)*/
    align-items: center;
    justify-content: space-between;
}

header .conteiner .nav a {
    text-align: right;
    color: #AAA;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}

/*Uso do 'HOVER' para declarar um evento (mouse sobre o elemento)*/
header .conteiner .nav a:hover {
    color: #FFF; 
}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)100%), url(https://cdn.vox-cdn.com/thumbor/fNXRoKyQS3iL54s69ko9EtaXcsw=/0x146:2040x1214/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/19998455/jbareham_200520_1021_ghibli_week_0001b.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    background-color: rgba(0,0,0,.10);
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 20px;
}

.titulo {
    background-color: rgba(0,0,0,.10);
    margin-top: 33%;
    margin-left: 10px;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(26, 20, 20, 0.4);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: #141414;
}