/*DEFINIÇÃO DE VARIÁVEIS Ajuda na hora de acessar itens que se repetem por padrão por todo o documento (temas)*/
:root{
    --vermelho:#E50914;
    --preto:#141414; 
    --cinza:#AAA;
}

/*RESET CSS Para a folha ficar completamente zerada de alinhamento que vem por padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.logo {
    margin-left: 5px;
    color: #E50914;
    font-family: 'Arial Black';
    font-size: 40px;
    text-align: left;
}

header .container {
    display: flex;
    flex-direction: row; /*Padrão -- (em linha)*/
    align-items: center;
    justify-content: space-between;
}

header .container .nav a {
    text-align: right;
    color: #AAA;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
    width: 100%;
}

/*Uso do 'HOVER' para declarar um evento (mouse sobre o elemento)*/
header .container .nav a:hover {
    color: #FFF; 
}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)100%), url(https://cdn.vox-cdn.com/thumbor/fNXRoKyQS3iL54s69ko9EtaXcsw=/0x146:2040x1214/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/19998455/jbareham_200520_1021_ghibli_week_0001b.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo {
    background-color: rgba(0,0,0,.20);
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40%;
    padding: 5px;
}

.filme-principal .descricao {
    background-color: rgba(0,0,0,.20);
    margin-bottom: 30px;
    font-size: 20px;
    padding: 3px;
}

.botao {
    background-color: rgba(26, 20, 20, 0.4);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: #141414;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 5px;
}

.filme-principal .container {
    width: auto
}

.carrossel-filmes {
    margin-top: 2%;
    padding: 2px;
}

.box-filme {
    height: 20rem;
    width: 10rem;
    display: block;
}